
header{
    background-image: url(img/pattern.png);
    background-color: rgba(0, 110, 255, 0.699);
    height: 100px;
}
.img{
    width: 160px;
    margin-top: 40px;
    margin-left: 40px;

}
.booleaner{
    color: rgba(0, 110, 255, 0.699) ;
}

table {
    border-collapse: collapse;
    width: 100%;
}
td {
    text-align: center;
    padding: 10px;
}
.color-white{
    color: rgb(255, 255, 255);
    background-color: rgba(23, 131, 219, 0.767)
}
.background-lightblue{
    background-color:rgb(3, 210, 247);
}
.background-white{
    background-color: white;
}
.grey{
    color: grey;
}
.container{
    position: relative;
    color: white;
}
.text{
    position: absolute;
    top: 20px;
    left: 140px;
    transform: translate(-50%, -50%);
}
.text1{
    position: absolute;
    top: 20px;
    left: 140px;
    transform: translate(-50%, -50%);
}