
header{
    background-image: url(img/pattern.png);
    background-color: rgba(0, 110, 255, 0.699);
    height: 100px;
    align-self: auto;  
}
.booleaner{
    color: rgba(0, 110, 255, 0.699) ;
}
.color-white{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 110, 255, 0.699)
}
.background-lightblue{
    background-color:rgb(54, 141, 192);
}
.background-white{
    background-color: white;
}
